
/*--------------------------------------------Colors*/

.bg-light {
    background-color: #f7f1de;
}

.nina {
    background-color: #f7f1de;
}

/*--------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4{
  font-family: 'Source Sans Pro', sans-serif;
}

p{
    margin: 40;
}

.general-sub {
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.clearfix{
    padding-left: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}



#container {
   height:100%;
}

html, body {
height: 100%;
}

/*--------------------------------------------Hover*/

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 120px;

}

/*--------------------------------------------Navbar*/


/* When resized mobile will collapse navbar */
@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
}

.navbar {
    margin-bottom: 0px;
}

.bg-light {
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}



/*--------------------------------------------Footer*/

footer {;
position: relative;
    bottom:0;
    left:0;
    width:100%;
background-color: #E3D1C4;
    color: white;
    min-height: 120px;
    margin: auto


}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

/*--------------------------------------------Media Queries*/

@media (min-width: 992px) {
.section-column {
    display: table-cell;
    padding: 0 70px 30px; 
    float: none;
}
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}

}


@media (max-width: 768px) { 
    .carousel .carousel-inner .item {
        width: 100%;
 
    }
}
/*
.d-block {
    display: block!important;
    height: 250px;
       padding-top: 30px;
}*/



/*--------------------------------------------About*/

#about.container {
  background-color: #f9e5d7;
   display: table;
   margin: 50px 50px 50px 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}

/*--------------------------------------------Band Members*/



/*--------------------------------------------Body*/

a {
  color:blue;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a:hover { color:red; }

/*--------------------------------------------Music*/

/* add a little bottom space under the images */
.thumbnail {
	margin-bottom:7px;
}

.list-inline li{
    padding: 20;
    list-style: none;
}

/*--------------------------------------------Documentary*/

